.loader {
	display: flex;
	justify-content: center; /* Centrado horizontal */
	align-items: center; /* Centrado vertical */
	height: 100vh;
	background-image: url('../../public/pexels-matreding-4385862.jpg');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
.loader__container {
	top: 50px;
	width: 50px;
	padding: 8px;
	aspect-ratio: 1;
	border-radius: 50%;
	background: #25b09b;
	--_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
	-webkit-mask: var(--_m);
	mask: var(--_m);
	-webkit-mask-composite: source-out;
	mask-composite: subtract;
	animation: l3 0.5s infinite linear;
}
@keyframes l3 {
	to {
		transform: rotate(1turn);
	}
}
