.card {
	border: 1px solid #ccc;
	background-color: #ffffff50;
	backdrop-filter: brightness(1) blur(2px);
	padding: 1.25em;
	display: flex;
	flex-direction: column;
	gap: 1em;
	border-radius: 1em;
	&:hover {
		transform: scale(1.1);
		transition-duration: 2s;
	}
}
.card__body {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
}
.card__image-content {
	display: flex;
	justify-content: center;
	align-items: center;
}
.card__image {
	width: 50%;
}
.card__name {
	border-bottom: 1px solid #efb810;
	padding-bottom: 1em;
	color: #ffc600;
}
.card__info {
	display: flex;
	flex-direction: column;
	gap: 1em;
	font-size: small;
}
.card__label {
	display: block;
	text-transform: uppercase;
	color: #efb810;
	font-size: medium;
}
.card__label-email {
	word-wrap: break-word;
}
.card__data {
	display: flex;
	align-items: center;
	gap: 0.25em;
}
.card__icon {
	font-size: 16px;
	color: rgb(0, 0, 0);
}

.card__btn {
	border-top: 1px solid #ccc;
	padding-top: 1em;
	display: inline-flex;
	justify-content: flex-end;
	gap: 0.5em;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	border: none;
	font-size: 18px;
	padding: 0.5em;
	&:hover {
		transition-duration: 2s;
		transform: scale(1.1);
	}
}
.btn--delete {
	background-color: #ffc600;
}
.btn--edit {
	background-color: #ffc600;
	border: 1px solid #ccc;
}
